/* ALL */
body {
    font-family: 'Inclusive Sans', sans-serif;
}

.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row.full-height {
    display: flex;
    flex: 1;
}

.tile {
    background-color: #567053;
}

/* LEFT COLUMN */
.bg-left-column {
    background-color: #567053;
    color: white;
    text-align: center;
}

.col-md-4.bg-left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center; 
    padding-bottom: 3rem; 
}

.location {
    display: flex;
    align-items: center;
    font-size: 2.5vw;
    margin: 30px;
}

.location svg {
    margin-right: 10px;
}

#location-text {
    display: flex;
}

#clock {
    font-size: 3vw;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100%;
}

.calendar-widget {
    display: inline-block;
    text-align: center;
    width: 8vw;
    height: 9vw;
    background-color: #f4f4f4;
    border: 5px solid #333;
    border-radius: 10px; 
    overflow: hidden;
    box-sizing: border-box; 
}

.calendar-header {
    background-color: #567053;
    color: white;
    padding: 0.5vw 0; 
    font-size: 1.125vw;
    font-weight: bold;
}

.calendar-date {
    margin-top: 0.25vw;
    font-size: 3.5vw; 
    font-weight: bold;
    color: #333;
}

#weather {
    font-size: 1.5vw;
}

/* RIGHT COLUMN */
.bg-right-column {
    background-color: #C0BBAA;
    color: white;
    text-align: center;  
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;           
}

.first-row {
    text-align: center;
}

.half-height {
    height: 45vh;
}

.col-md-8.bg-right-column .tile {
    border-radius: 10px;
}

/* # TO-DO LIST */

.tile {
    position: relative;
    
}

.tile .title {
    position: absolute; 
    top: 0.75rem;             
    left: 2rem;            
    transform: translate(0%, 50%);
    margin: 0rem;
    font-size: 1.75vw;       
}

.completed {
    text-decoration: line-through;
}

.badge {
    margin-left: 10px;
    
}
.container {
    max-width: 600px;
    margin-left: 0;
}

.left-section {
    width: 45%;
    text-align: left;
}

.right-section {
    width: 45%;
    text-align: left;
    margin-top: 3.5vw;
    margin-right: 2vw;
}

.left-section h2 {
    margin-bottom: 1vw;
}

.left-section ul {
    margin-top: 3.5vw;
}

.list-group-item {
    text-align: left;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
}

.task-text {
    display: flex;
    flex-grow: 1;
    margin-left: 0.5vw;
    font-size: 1vw;
}

.btn-delete {
    margin-left: 0.5vw;
    color: white;
    background-color: transparent;
    border: none;
}
