body {
    font-family: 'Inclusive Sans', sans-serif;
}

.container-fluid {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.row.full-height {
    display: flex;
    flex: 1;
}


.bg-left-column {
    background-color: #567053;
    color: white;
    text-align: center;
}

.col-md-4.bg-left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center; 
    padding-bottom: 3rem; 
}

.bg-right-column {
    background-color: #C0BBAA;
    color: white;
    text-align: center;  
    padding-top: 3rem;            
}

.first-row {
    text-align: center;
}

.tile {
    background-color: #567053;
}

.half-height {
    height: 45vh;
}

.location {
    display: flex;
    align-items: center;
    font-size: 40px;
    margin: 30px;
}

.location svg {
    margin-right: 10px;
}

#location-text {
    display: flex;
}

#clock {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    width: 100%;
    font-size: 60px;
}

#current-date {
    font-size: 35px;
}

.calendar-widget {
    display: inline-block;
    text-align: center;
    width: 120px;
    height: 144px;
    background-color: #f4f4f4;
    border: 3px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

.calendar-header {
    background-color:#567053;
    color: white;
    padding: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.calendar-date {
    margin-top: 8px;
    font-size: 55px;
    font-weight: bold;
    color: #333;
}

#weather {
    font-size: 30px;
}

.completed {
    text-decoration: line-through;
}

.badge {
    margin-left: 10px;
    
}
.container {
    max-width: 600px;
    margin-left: 0;
}

.list-group-item {
    text-align: left;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
}

.task-text {
    display: flex;
    flex-grow: 1;
    margin-left: 10px;
}

.btn-delete {
    margin-left: 10px;
    color: white;
    background-color: transparent;
    border: none;
}
